.css-1i20c2f .MuiDataGrid-toolbarContainer .MuiButton-text {
    color: #141414!important;
    background-color:#9fd2b2;
    
    }

    .btn {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
      }
      
    

      .css-188bdav-MuiButtonBase-root-MuiButton-root {
        color:#141414 !important;
      }