

.label-align-center {
    text-align: center;
}

/* body{
	background-color: #EEEFF3;
	font-family: 'Roboto', sans-serif;
}

.card{
	width: 260px;
	border: none;
	border-radius: 10px;
	background: #4E68C7;
}
p.top{
	font-size: 14px;
}
.discount{
	background-color: #1BC5DF;
	border: none;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	padding: 5px 15px;
	transform: translateX(24px);
	height: 35px;
}
.discount span{
	font-size: 15px;
}
h2{
	letter-spacing: 2px;
}
.fa-euro-sign{
	font-size: 27px;
	color: #B3C4FA;
}
.card-content p{
	line-height: 18px;
	font-size: 11px;
	color: #abbef6;
}
.btn-primary{
	border: none;
	border-radius: 6px;
	background-color: #647EDF;
	padding-top: 0;
	height: 46px;
}
.btn-primary span{
	font-size: 13px;
	color: #D1E2FF;
	margin-right: 10px;
}
.fa-arrow-right{
	font-size: 12px;
	color: #D1E2FF;
}
.btn-primary:hover,
.btn-primary:focus
{
	background-color: #647EDF;
	box-shadow: none;
} */