.widgets {
    flex-wrap: wrap;
}
.widget {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 200px;
    flex: 1 0 21%; 
}
.widget .left, .widget .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.widget .left .title, .widget .right .title {
    font-weight: bold;
    font-size: 15px;
    color: #a0a0a0;
    align-self: center;
}

.widget .left .icon, .widget .right .icon {
    font-size: 120px;
    padding: 30px;
    border-radius: 5px;
    align-self: center;
}
